<div>
    <div class="img-contanier">
        <img src="../../assets/BACKGROUND 1.png" alt="BACKGROUND">
        <div class="container">
            <h2>Hi, I’m Emmanuel, a computer Engineer and an organist based in Accra.</h2>

            <hr style="height:2px;border-width:0;color:rgba(128, 128, 128, 0.507);background-color:rgba(128, 128, 128, 0.411); margin: 20px 90px; ">
            <div class="bio">
                <div class="bio-pic">
                    <div class="bio-pic-containter">
                        <img src="../../assets/bio.jpg" alt="bio">
                    </div>
                </div>
                <div class="bio-text">
                    <h2>Short Bio</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                        eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                        sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec o</h3>
                </div>
            </div>
        </div>

    </div>

</div>
