.img-contanier {
    text-align: center;
}

img {
    width: 90%;
}

.container {
    h2 {
        height: 50%;
        margin: 50px 253px;
        text-align: center;
        color: #1a2270;
        font-weight: 200;
        font-family: "serif";
        font-size: 36px;
        line-height: 36px;
    }
}

.bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 57px 230px;
    text-align: center;
    justify-content: center;
    grid-gap: 23px;
}

.bio-pic-containter {
    width: 100%;
    img {
        object-fit: cover;
    }
}

.bio-text {
    display: block;
    h2 {
        margin: 0;
        height: 50px;
        text-align: initial;
    }
    h3 {
        text-align: initial;
        font-size: 16px;
        font-weight: 100;
    }
}
